.payments {
  &__container {
    display: flex;
    gap: 45px;
    margin-top: 100px;
  }
  &__make {
    width: 331px;
    height: 153px;
    letter-spacing: 0.04em;
    color: #857885;
    width: 377px;
    height: 300px;
    left: 865px;
    top: 838px;
  }
  &__box-left {
    margin-top: -40px;
  }
  &__left {
    width: 280px;
    height: 164px;
    margin-top: 20px;

    background: #ffffff;
    box-shadow: 7px 10px 50px #efe7f8;
    border-radius: 4px;
    padding: 29px;
    border-left: 5px solid blue;
  }
  &__text {
    color: darkgrey;
  }
}
.pay__colorr {
  color: blueviolet;
}
.marvel {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 139px;
width: 834.13px;
height: 35.08px;
left: 333px;
top: 1453.06px;
margin-top: 50px;

}
.hero {
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
}


.hero__left {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.hero__link {
  color: black;
}


.Elik {
  margin: 20px;
  display: flex;
  align-items: center;
}


.Elik__1440 {
  display: flex;
  flex-direction: column;
}
.icons__container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 139px;
}

.right {
  &__title {
    margin-top: 131px;
    width: 331px;
    height: 153px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &__purple {
    color: purple;
  }

  &__text {
    width: 331px;
    height: 63px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &__a {
    color: purple;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
}

.lacus {
  margin-left: 200px;

  &__box {
    display: flex;
    gap: 123px;
  }

  &__red {
    margin-top: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 12.7849px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #e23434;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &__red1 {
    margin-top: 113px;
    font-style: normal;
    font-weight: 700;
    font-size: 12.7849px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #e23434;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &__title {
    margin-top: 7px;
    width: 262px;
    font-style: normal;
    font-weight: 800;
    font-size: 36.5282px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &__purple {
    color: purple;
  }

  &__text {
    margin-bottom: 16px;
    margin-top: 7px;
    width: 302.27px;
    font-style: normal;
    font-weight: 700;
    font-size: 14.6113px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &__title1 {
    width: 302px;
  }

  &__img1 {
    margin-right: 60px;
  }
}

.customer {
  background-image: url(/assents/Rectangle\ 5\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 996px;

  &__container {
    display: flex;
    align-items: end;
  }

  &__title {
    width: 503px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.1em;
    color: #ffffff;
  }

  &__span {
    color: #5c0e62;
  }

  &__text {
    margin-top: 39px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  &__img {
    margin-left: 90px;
    margin-top: 100px;
  }
}

.waiting {
  &__container {
    position: relative;
    z-index: 2;
    top: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 71px;
    background: #ffffff;
    border-radius: 10px;
    height: 182px;
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #5c515c;
  }

  &__btn {
    border: none;
    padding: 17px 60px;
    background: #ffbc51;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }
}

.footer {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-color: #210933;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  width: 1500px;
  height: 689px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
  }

  &__boxs {
    display: flex;
    align-items: start;
    justify-self: center;
    gap: 129px;
  }

  &__logos {
    margin-top: 52px;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 32px;
  }

  &__text {
    width: 153px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
  }

  .boxs__title {
    margin-bottom: 31px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  &__item {
    margin-top: 20px;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
  }
}

@media screen and (max-width: 480px) {
  .container {
    overflow: hidden;
    max-width: 480px;
  }

  .header {
    background-size: auto;
    background: url(../assents/Frame\ 43.png);
    background-repeat: no-repeat;
    &__burger {
      display: block;
    }
    &__logo {
      width: 111px;
      height: 27.47px;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    &__nav,
    &__actions {
      display: none;
    }
  }

  .intro {
    background-image: url(../assents/Rectangle\ 5\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 500px;

    &__imgComp {
      display: none;
    }

    &__imgNout {
      display: none;
    }

    &__title {
      font-style: normal;
      font-weight: 800;
      font-size: 38.3448px;
      line-height: 47px;
      color: #ffffff;
    }

    &__text {
      width: 326px;
      font-style: normal;
      font-weight: 400;
      font-size: 14.1355px;
      line-height: 17px;
      color: #ffffff;
    }

    &__btn {
      padding: 12px 46px;
    }
  }

  .payments {
    display: flex;
    flex-direction: column;
  }

  .icons__container {
    display: none;
  }
}