.payments {
  &__container {
    display: flex;
  }

  &__box {
    background-image: url(../assents/card-bg.png);
    width: 340px;
    height: 214px;
    padding: 70px;
  }

  &__box1 {
    margin-top: 260px;
  }

  &__box2 {
    margin-top: 200px;
  }

  &__title {
    margin-bottom: 8px;
    height: 28px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #5c5e6e;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &__text {
    width: 200.32px;
    height: 42px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.075em;
    color: #756f6f;
    opacity: 0.7;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &__right {
    margin-left: 45px;
  }
}

.icons__container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 139px;
  width: 834px;
  height: 35px;
  display: none;
}

.right {
  &__title {
    margin-top: 131px;
    width: 331px;
    height: 153px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &__purple {
    color: purple;
  }

  &__text {
    width: 331px;
    height: 63px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &__a {
    color: purple;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
}

.lacus {
  margin-left: 200px;

  &__box {
    display: flex;
    gap: 123px;
  }

  &__red {
    margin-top: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 12.7849px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #e23434;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &__red1 {
    margin-top: 113px;
    font-style: normal;
    font-weight: 700;
    font-size: 12.7849px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #e23434;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &__title {
    margin-top: 7px;
    width: 262px;
    font-style: normal;
    font-weight: 800;
    font-size: 36.5282px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &__purple {
    color: purple;
  }

  &__text {
    margin-bottom: 16px;
    margin-top: 7px;
    width: 302.27px;
    font-style: normal;
    font-weight: 700;
    font-size: 14.6113px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  &__title1 {
    width: 302px;
  }

  &__img1 {
    margin-right: 60px;
  }
}

.customer {
  background-image: url(/assents/customer-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 996px;

  &__container {
    display: flex;
    align-items: end;
  }

  &__title {
    width: 503px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.1em;
    color: #ffffff;
  }

  &__span {
    color: #5c0e62;
  }

  &__text {
    margin-top: 39px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  &__img {
    margin-left: 90px;
    margin-top: 100px;
  }
}

.waiting {
  &__container {
    position: relative;
    z-index: 2;
    top: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 71px;
    background: #ffffff;
    border-radius: 10px;
    height: 182px;
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #5c515c;
  }

  &__btn {
    border: none;
    padding: 17px 60px;
    background: #ffbc51;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }
}

.footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-color: #210933;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  width: 1500px;
  height: 689px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
  }

  &__boxs {
    display: flex;
    align-items: start;
    justify-self: center;
    gap: 129px;
  }

  &__logos {
    margin-top: 52px;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 32px;
  }

  &__text {
    width: 153px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
  }

  .boxs__title {
    margin-bottom: 31px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  &__item {
    margin-top: 20px;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 480px;
  }

  .logo {
    width: 111px;
    height: 28px;
  }
  .header {
    background-size: auto;
    &__burger {
      display: block;
    }

    &__nav,
    &__actions {
      display: none;
    }
  }

  .intro {
    background-image: url(/assents/phone-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 500px;

    &__imgComp {
      display: none;
    }

    &__imgNout {
      display: none;
    }

    &__title {
      font-style: normal;
      width: 300px;
      font-size: 38.3448px;
      line-height: 47px;
      color: #ffffff;
    }

    &__text {
      width: 326px;
      font-style: normal;
      font-weight: 400;
      font-size: 14.1355px;
      line-height: 17px;
      color: #ffffff;
    }

    &__btn {
      padding: 12px 46px;
    }
  }
.right__title {
    margin-top: 131px;
    width: 200px;
    height: 100px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 320px;
    color: #857885;
    margin: 0;
}
.right__text {
  width: 200px;
    height: 63px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 300;
}


  .payments {
    &__box {
      background-image: url(../assents/photo_5442617639244076384_y.jpg);
      width: 300px;
      height: 214px;
      padding: 20px;
    }
    &__container {
      flex-direction: column;
    }

    &__box1 {
      margin-top: 70px;
    }

    &__box2 {
      margin-top: 30px;
    }

    &__title {
      font-style: normal;
      font-weight: 800;
      line-height: 128.6%;
      letter-spacing: 0.04em;
      color: #857885;
    }
  }

  .icons__container {
    display: none;
  }

  .lacus {
    margin-left: 50px;

    &__box {
      flex-direction: column;
      gap: 0;
    }

    &__revorse {
      display: flex;
      flex-direction: column-reverse;
    }

    &__img {
      margin-top: 40px;
      width: 210.39px;
      .lacus__title {
  width: 250px;
}
&__text {
  width: 250px;
}
    }
  }
  .lacus__title {
    margin-top: 7px;
    width: 220px;
    font-style: normal;
}
.lacus__text {
    margin-bottom: 16px;
    margin-top: 7px;
    width: 202.27px;
    font-style: normal;
    font-weight: 700;
    font-size: 14.6113px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
    flex: none;
    order: 1;
    flex-grow: 0;
}

  .customer {
    min-height: 500px;
    min-width: 320px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__right {
      width: 320px;
    }

    &__img {
      margin-top: 150px;
      margin-left: 0;
      width: 300px;
    }

    &__title {
      padding-left: 40px;
      margin-top: 200px;
      width: 264px;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 128.6%;
      text-align: center;
      letter-spacing: 0.1em;
      color: #ffffff;
    }

    &__text {
      padding-right: 20px;
      text-align: center;
      width: 348px;
      font-style: normal;
      font-weight: 700;
      font-size: 14.6113px;
      line-height: 128.6%;
      letter-spacing: 0.04em;
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }

  .waiting {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: 1100px;

    &__container {
      display: block;
      text-align: center;
    }

    &__boxs {
      display: block;
    }

    &__box {
      margin-top: 48px;
    }
  }
}
